@mixin size($width: 100%, $height: auto) {
  width: $width;
  height: $height;
}

@mixin flex($margin: 0, $padding: 0, $direction: column) {
  display: flex;
  flex-direction: $direction;
  margin: $margin;
  padding: $padding;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin block($margin: 0, $padding: 0, $display: block) {
  display: $display ;
  margin: $margin;
  padding: $padding;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin vidaloka($font-size: 28px, $line-height: 40px, $weight: 400) {
  font-family: 'Vidaloka', serif;
  font-weight: $weight;
  line-height: $line-height;
  font-size: $font-size;
  font-style: normal;
}

@mixin openSans($font-size: 16px, $line-height: 32px, $weight: 400) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $weight;
  line-height: $line-height;
  font-size: $font-size;
  font-style: normal;
}